@import '../configuration';

input.form-control {
  box-shadow: $input-box-shadow;
}

.input-group {
  box-shadow: $input-box-shadow;

  input.form-control:not(:focus) {
    box-shadow: none;
  }
}

.form-switch {
  padding-left: 3.5em;


  .form-check-input {
    --bs-form-check-bg: #9CA3AF;
    height: 1.625em;
    width: 3em;
    margin: 0 0 0 -3.5em;

    &:checked {
      background-color: $primary;
    }
  }
}
