/frontend/node_modules
/frontend/test-results
/frontend/playwright-report

/backend/build
/backend/dist
/backend/nykrio.egg-info/
/backend/.benchmarks
/backend/keys/nyrkio.pem

/docs/build

**/__pycache__
**/.DS_Store

.vscode
.idea

.env.backend
.backend.pid
