version: "3.8"

services:
  backend:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/nyrkio/${ENV}/backend:${IMAGE_TAG}
    build: backend
    env_file:
      - .env.backend
    environment:
      - API_PORT=8000
    ports:
      - "8000:8000"
    hostname: api.nyrkio.local
  nginx:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/nyrkio/${ENV}/nginx:${IMAGE_TAG}
    build:
      context: ./
      dockerfile: ./nginx/Dockerfile
      args:
        - DOMAIN
    volumes:
      - /etc/ssl/private/:/etc/nginx/ssl/live/${DOMAIN}/
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    restart: always
