version: "3.8"

services:
  backend:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/nyrkio/${ENV}/backend:${IMAGE_TAG}
    build: backend
    env_file:
      - .env.backend
    environment:
      - API_PORT=8000
      - GIT_SHA=${IMAGE_TAG}
    ports:
      - "8000:8000"
    hostname: api.nyrkio.local

  webhooks:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/nyrkio/${ENV}/backend:${IMAGE_TAG}
    # build: backend
    env_file:
      - .env.backend
    environment:
      - API_PORT=8080
      - GIT_SHA=${IMAGE_TAG}
    ports:
      - "8080:8080"
    hostname: api.nyrkio.local

  worker01:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/nyrkio/${ENV}/backend:${IMAGE_TAG}
    # build: backend
    env_file:
      - .env.backend
    environment:
      - API_PORT=8081
      - GIT_SHA=${IMAGE_TAG}
    ports:
      - "8081:8081"
    hostname: api.nyrkio.local

  nginx:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/nyrkio/${ENV}/nginx:${IMAGE_TAG}
    build:
      context: ./
      dockerfile: ./nginx/Dockerfile
      args:
        - DOMAIN
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    restart: always
