version: "3.8"

services:
  mongodb:
    hostname: mongodb.nyrkio.local
    container_name: mongodb
    image: mongodb/mongodb-community-server:latest
    environment:
      - API_PORT=27017
    ports:
      - "27017:27017"
    command: mongod --quiet --logpath /dev/null

  backend:
    build: backend
    env_file:
      - .env.backend
    environment:
      - API_PORT=8000
      - GIT_SHA=${IMAGE_TAG}
    ports:
      - "8000:8000"
    hostname: api.nyrkio.local
    depends_on:
      - mongodb

  webhooks:
    build: backend
    env_file:
      - .env.backend
    environment:
      - API_PORT=8080
      - GIT_SHA=${IMAGE_TAG}
    ports:
      - "8080:8080"
    hostname: api.nyrkio.local
    depends_on:
      - mongodb

  worker01:
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/nyrkio/${ENV}/backend:${IMAGE_TAG}
    # build: backend
    env_file:
      - .env.backend
    environment:
      - API_PORT=8081
      - GIT_SHA=${IMAGE_TAG}
    ports:
      - "8081:8081"
    hostname: api.nyrkio.local

  nginx:
    build:
      context: ./
      dockerfile: ./nginx/Dockerfile.dev
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
