$primary: #973212;
$secondary: #50320D;

$body-bg: #fff;
$body-color: #414141;

$gray-300: #535353;
$light: #D7D7D7;
$border-color: $light;


$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,  // 4px
  2: $spacer * .5,   // 8px
  3: $spacer,        // 16px
  4: $spacer * 1.5,  // 24px
  5: $spacer * 2,    // 32px
  6: $spacer * 3,    // 48px
  7: $spacer * 4,    // 64px
  8: $spacer * 5,    // 80px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1748px,
);

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1110px,
  xxl: 1310px,
  xxxl: 1648px,
);

$headings-size: (
  h1: 64px,
  h2: 48px,
  h3: 28px,
  h4: 24px,
  h5: 20px,
  h6: 18px,
);

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);


$grid-gutter-width: 2.5rem;

$box-shadow-sm: 0 0 10px 0 #00000026;
$box-shadow: 0 0 16px 0 #00000040;

$input-btn-padding-y: 1rem;
$input-btn-padding-x: 1.5rem;

$btn-padding-x: 2rem;
$btn-line-height: 1.2;
$btn-border-radius: .25rem;
$btn-font-weight: 600;
$btn-border-width: 2px;

$input-font-weight: 400;
$input-border-width: 1px;
$input-border-color: $secondary;
$input-box-shadow: $box-shadow-sm;

$font-weight-base: 500;
$font-size-base: 1rem;
$font-family-base: "IBM Plex Sans", sans-serif;
$headings-font-family: "Bebas Neue", sans-serif;

$badge-secondary: #50320DB2;
$badge-secondary-content: #fff;

$nav-link-color: $secondary;
$nav-link-hover-color: $primary;


// scss-docs-start form-check-variables
//$form-check-input-width:                  1em !default;
//$form-check-min-height:                   $font-size-base * $line-height-base !default;
//$form-check-padding-start:                $form-check-input-width + .5em !default;
//$form-check-margin-bottom:                .125rem !default;
//$form-check-label-color:                  null !default;
//$form-check-label-cursor:                 null !default;
//$form-check-transition:                   null !default;
//
//$form-check-input-active-filter:          brightness(90%) !default;
//
$form-check-input-bg: #9CA3AF;
$form-check-input-border:                   1px solid #9CA3AF;
//$form-check-input-border-radius:          .25em !default;
//$form-check-radio-border-radius:          50% !default;
//$form-check-input-focus-border:           $input-focus-border-color !default;
//$form-check-input-focus-box-shadow:       $focus-ring-box-shadow !default;
//
//$form-check-input-checked-color:          $component-active-color !default;
//$form-check-input-checked-bg-color:       $component-active-bg !default;
//$form-check-input-checked-border-color:   $form-check-input-checked-bg-color !default;
//$form-check-input-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>") !default;
//$form-check-radio-checked-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>") !default;
//
//$form-check-input-indeterminate-color:          $component-active-color !default;
//$form-check-input-indeterminate-bg-color:       $component-active-bg !default;
//$form-check-input-indeterminate-border-color:   $form-check-input-indeterminate-bg-color !default;
//$form-check-input-indeterminate-bg-image:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>") !default;
//
//$form-check-input-disabled-opacity:        .5 !default;
//$form-check-label-disabled-opacity:        $form-check-input-disabled-opacity !default;
//$form-check-btn-check-disabled-opacity:    $btn-disabled-opacity !default;
//
//$form-check-inline-margin-end:    1rem !default;
// scss-docs-end form-check-variables

// scss-docs-start form-switch-variables
$form-switch-width: 3em;
$form-switch-color: #E5E7EB;
$form-switch-width:               1.625em;
//$form-switch-padding-start:       $form-switch-width + .5em !default;
//$form-switch-bg-image:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color}'/></svg>") !default;
//$form-switch-border-radius:       $form-switch-width !default;
//$form-switch-transition:          background-position .15s ease-in-out !default;
//
//$form-switch-focus-color:         $input-focus-border-color !default;
//$form-switch-focus-bg-image:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-focus-color}'/></svg>") !default;
//
//$form-switch-checked-color:       $component-active-color !default;
//$form-switch-checked-bg-image:    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-checked-color}'/></svg>") !default;
//$form-switch-checked-bg-position: right center !default;
// scss-docs-end form-switch-variables
