@import '../../style/configuration';

.password-toggle-wrapper {
  position: relative;

  input {
    padding-right: 40px;
  }

  .btn-none {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    z-index: 2;

    svg {
      @include media-breakpoint-down(md) {
        width: 20px;
        height: auto;
      }
    }
  }
}
