@use "sass:map";
@import '../../style/configuration';

.navbar-site {
  max-width: map.get($container-max-widths, 'xxxl');
  margin-left: auto;
  margin-right: auto;

  .navbar-brand {
    img {
      max-width: 76px;

      @include media-breakpoint-up(md) {
        max-width: 134px;
      }
    }
  }

  .nav-link {
    --bs-nav-link-color: #{$secondary};
    --bs-nav-link-hover-color: #{$primary}
  }

  .nav-item {
    @include media-breakpoint-down(lg) {
      --bs-nav-link-padding-y: 1rem;
      border-bottom: $border-width solid $border-color;
    }
  }
}

