#dashboardSettingsButton[aria-expanded="true"] {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}

.graph-display-mode {
  .active {
    img {
      filter: brightness(2);
    }
  }
}
