

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --nyrkio-dark-red: #a34111;
  --nyrkio-bright-red: #dc3d06;
  --nyrkio-tattoo-red: #973212;
  --nyrkio-dark-gray: #a99883;
  --nyrkio-dark-gray2: #897963;
  --nyrkio-light-gray: #d1c1a8;
  --nyrkio-light-gray2: #f1e8d8;
  --nyrkio-light-gray3: #fff6e6;
  --nyrkio-light-gray4: #fff9f1;
  --nyrkio-light-gray5: #fffdf9;

  --nyrkio-bear-brown: #351406;
  --nyrkio-horn-dark-brown: #50320d;
  --nyrkio-arrow-brown: #7c5a32;
  --nyrkio-horn-light-brown: #b28b56;
  --nyrkio-skin-light-brown: #d2a376;

  --nyrkio-text: #344767;
  --nyrkio-text-light: #6c757d;
  --nyrkio-border: var(--nyrkio-horn-dark-brown);
  --nyrkio-active: var(--nyrkio-horn-light-brown);

  --bs-body-color: #67748e;
  --bs-body-bg: #ffffff;
  --bs-heading-color: var(--nyrkio-bear-brown);
  --bs-heading-color2: var(--nyrkio-horn-dark-brown);
  --bs-link-color: var(--nyrkio-text);
  --bs-link-hover-color: var(--nyrkio-active);
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fcf8e3;
  --bs-breadcrumb-divider: "/";
  --bs-success: var(--nyrkio-horn-light-brown);

}



.nyrkio-accent {
    color: var(--nyrkio-tattoo-red);
}

.nyrkio-accent-dark {
    color: var(--nyrkio-tattoo-red);
    font-weight: bold;
}






body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--nyrkio-text);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
div.nyyrikki-banner-right ,
body.nyyrikki-banner-right {

  background-image: url(/src/static/nyyrikki/nyyrikki-vertical-banner.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right;
  background-size: contain;
  background-opacity: 0.5;
}

body.nyyrikki-banner-right-bw ,
main .nyyrikki-banner-right-bw {

  background-image: url(/src/static/nyyrikki/nyyrikki-vertical-medium-outline.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right;
  background-size: contain;
  background-opacity: 0.5;
}

img.nyyrikki-original-art {
  max-width: 90%;
  max-height: 110vh;
}

img.tb-logo {
max-width: 20em;
margin-top: 2em;
margin-bottom:2em;
}


div.container.nyyrikki-legend .nyyrikki-last-text {
  margin-bottom: 7em;
}

.nyyrikki-horn-right {
  height: 20em;
  width: 20em;
  position: absolute;
  right: 0px;
  opacity: 0.7;

}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
h6, .h6, h5, .h5, h4, .h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--bs-heading-color2);
}
h1, .h1 {
  font-size: calc(1.425rem + 2.1vw);
}
h1, .h1,
h4, .h4 {
  color: var(--nyrkio-tattoo-red);
}












a {
  font-weight: 500;
  color: var(--nyrkio-tattoo-red);
  text-decoration: inherit;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: var(--nyrkio-active);
  }
}

a:hover {
  color: var(--nyrkio-active);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--nyrkio-text);
    background-color: var(--nyrkio-arrow-brown);
  }
  button {
    background-color: var(--nyrkio-tattoo-red);
  }
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar-top {
  border-bottom: 1px solid var(--nyrkio-light-gray2);
  background-color: transparent;
  margin-bottom: 2em;
}

.border-top
{
  border-top: 1px solid darkgreen !important;
  background-color: var(--nyrkio-arrow-brown);
  color: black;
}

.navbar-left.navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--nyrkio-tattoo-red);
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--nyrkio-active);
}

.btn-success {
  color: var(--nyrkio-light-gray3);
  background-color: var(--nyrkio-tattoo-red);
  border-color: var(--nyrkio-dark-gray);
  box-shadow: none;
}

.btn-check:focus + .btn-success,
.btn-success:focus {
  color: var(--nyrkio-light-gray3);
  background-color: #a34111;
  border-color: #a34111;
  box-shadow: none;
}

.btn-success:hover {
  color: var(--nyrkio-light-gray3);
  background-color: var(--nyrkio-active);
  border-color: var(--nyrkio-dark-gray);
  box-shadow: none;
}

.btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
  color: var(--nyrkio-light-gray3);
  background-color: var(--nyrkio-active);
  border-color: var(--nyrkio-dark-gray);
}

.btn-outline-success, .btn-outline-success:hover {
  color: var(--nyrkio-active);
  border-color: var(--nyrkio-dark-gray);
  background-color: white;
}

.btn-check:active + .btn-success:focus, .btn-check:checked + .btn-success:focus, .btn-success.active:focus, .btn-success:active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: none;
}

.border-success {
  border-color: var(--nyrkio-active)!important;
}

table {
  margin-bottom: 20px;
}

th, td {
  border: 1px solid;
  padding: 5px;
}

table.pricing-table th, table.pricing-table td {
  border: 0px;
  padding: 5px;
}

.btn-link, .btn-link:hover {
  color: var(--nyrkio-light-gray3);
  text-decoration: none;
}

.padding-block {
  border: 2px;
  padding: 50px;
}

.padding-block-sm {
  border: 2px;
  padding: 30px;
}

.bg-nyrkio-dark-gray {
  color: white;
  background-color: var(--nyrkio-dark-gray )!important;
}

.bg-nyrkio-dark-red {
  color: white;
  background-color: var(--nyrkio-dark-red );
}


div.breadcrumb-wrapper nav {
  text-align: center;
  width: 100%;
}

div.breadcrumb-wrapper {
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}

ol.breadcrumb {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;

}
.breadcrumb-item + .breadcrumb-item::before {
  color: var(--nyrkio-bear-brown);
}


.card {
  border: none;
}

div.card div.card-header:first-child,
div.card div.card-header {
  width: 100%;
  color: var(--bs-heading-color);
  background-color: var(--nyrkio-active);
  border-color: 1px solid var(--nyrkio-border);
  border-radius: 7px;
  font-size: 105%;
}

.list-group .list-group-item {
  border-bottom: 1px solid var(--nyrkio-light-gray2);
  width: 100%;
}
.list-group .list-group-item:hover {
  background-color: var(--nyrkio-light-gray4);
}

.no-changepoints {
  color: var(--bs-heading-color2);
  font-style: italic;
  text-align: center;
}

.ag-theme-nyrkio a {
  color:var(--nyrkio-tattoo-red);
}
.ag-theme-nyrkio {
  --ag-active-color: var(--nyrkio-horn-light-brown);
  --ag-foreground-color: var(--nyrkio-bear-brown);
  --ag-background-color: transparent;
  --ag-secondary-foreground-color: var(--nyrkio-bear-brown);
  --ag-data-color: var(--nyrkio-bear-brown);
  --ag-header-foreground-color: var(--nyrkio-bear-brown);
  --ag-header-background-color: transparent;
  --ag-grid-size: 8px;
  --ag-list-item-height: 42px;
  --ag-border-color: var(--nyrkio-horn-light-brown);
  /*--ag-tooltip-background-color: ...;
    --ag-disabled-foreground-color: ...;
    --ag-subheader-background-color: ...;
    --ag-subheader-toolbar-background-color: ...;
    --ag-control-panel-background-color: ...;
    --ag-side-button-selected-background-color: ...;
    */
  --ag-selected-row-background-color: var(--nyrkio-horn-light-brown);
  /* --ag-odd-row-background-color: ...;
   * --ag-modal-overlay-background-color: ...;
     --ag-row-hover-color: var(--nyrkio-horn-light-brown);
   */
  /* --ag-column-hover-color: ...;
   * --ag-range-selection-border-color: ...;
   * --ag-range-selection-border-style: ...;
   * --ag-range-selection-background-color: ...;
   * --ag-range-selection-background-color-2: ...;
   * --ag-range-selection-background-color-3: ...;
   * --ag-range-selection-background-color-4: ...;
   * --ag-range-selection-highlight-color: ...;
   * --ag-selected-tab-underline-color: ...;
   * --ag-selected-tab-underline-width: ...;
   * --ag-selected-tab-underline-transition-speed: ...;
   * --ag-range-selection-chart-category-background-color: ...;
   * --ag-range-selection-chart-background-color: ...;
   * --ag-header-cell-hover-background-color: ...;
   * --ag-header-cell-moving-background-color: ...;
   * --ag-value-change-value-highlight-background-color: ...;
   * --ag-value-change-delta-up-color: ...;
   * --ag-value-change-delta-down-color: ...;
   * --ag-chip-background-color: ...;
   * --ag-borders: ...;
   * --ag-border-color: ...;
   * --ag-borders-critical: ...;
   * --ag-borders-secondary: ...;
   * --ag-secondary-border-color
   * --ag-row-border-style: ...;
   * --ag-row-border-width: ...;
   * --ag-row-border-color: ...;
   * --ag-cell-horizontal-border: ...;
   * --ag-borders-input: ...;
   * --ag-input-border-color: ...;
   * --ag-borders-input-invalid: ...;
   * --ag-input-border-color-invalid: ...;
   * --ag-borders-side-button: ...;
   * --ag-border-radius: ...;
   * --ag-invalid-color: ...;
   * --ag-input-disabled-border-color: ...;
   * --ag-input-disabled-background-color: ...;
   * --ag-checkbox-background-color: ...;
   * --ag-checkbox-border-radius: ...;
   * --ag-checkbox-checked-color: ...;
  --ag-header-height
  --ag-list-item-height
  --ag-header-column-separator-display
  --ag-grid-size
  --ag-header-column-separator-height
  --ag-header-column-separator-width
  --ag-header-column-separator-color
  --ag-header-column-resize-handle-display
  --ag-header-column-resize-handle-color

  */
  }

.ag-root-wrapper {
    margin-top: 1em;
    margin-bottom: 3em;
    border: none;
    width: 90%;
    min-height: 4em;
    max-height: 30em;
}

.chart-wrapper {
  margin-top: 3em;
}
