name: Performance Tests
on:
  push:
    branches: [main]
  pull_request:

jobs:
  perf-tests:
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "true"

      - name: Run lscpu
        run: lscpu -J > extra_info.json

      # Install poetry and all of the required project dependencies
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: cache poetry install
        uses: actions/cache@v2
        with:
          path: ~/.local
          key: poetry-1.7.1-0
      - uses: snok/install-poetry@v1
        with:
          version: 1.7.1
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: cache deps
        id: cache-deps
        uses: actions/cache@v2
        with:
          path: .venv
          key: pydeps-${{ hashFiles('**/poetry.lock') }}
      - run: cd backend && poetry install --no-interaction --no-root
        if: steps.cache-deps.outputs.cache-hit != 'true'
      - run: cd backend && poetry install --no-interaction

      - name: Run performance tests
        env:
          NYRKIO_ENV_TESTING: ${{ secrets.NYRKIO_ENV_TESTING }}
          NYRKIO_USERNAME: ${{ secrets.NYRKIO_USERNAME }}
          NYRKIO_PASSWORD: ${{ secrets.NYRKIO_PASSWORD }}
          # https://stackoverflow.com/a/62436027
          PULL_NUMBER: ${{ github.event.number }}
          GIT_COMMIT: ${{ github.event.pull_request.head.sha }}
        run: |
          export GIT_TARGET_BRANCH=${GITHUB_BASE_REF}
          echo "commit is $GIT_COMMIT"
          echo "target branch is $GIT_TARGET_BRANCH"
          echo "$NYRKIO_ENV_TESTING" > .env.backend
          echo "Running performance tests..."
          docker compose -f docker-compose.dev.yml up -d
          cd backend && poetry run pytest --benchmark-disable-gc --benchmark-warmup=on --benchmark-max-time=10 --benchmark-save=results benches/
          cd ..
          # Dump the logs in case of failure
          docker compose -f docker-compose.dev.yml logs
          docker compose -f docker-compose.dev.yml down
          cd backend && poetry run python benches/process_results.py $(find .benchmarks -name "*.json") ../extra_info.json
